<div class="banner parallax-container" id="welcome">
    <div class="parallax">
        <img src="/static/img/seattle75.jpg" alt="seattle">
    </div>
    <div class="nametag">
        <h1>Devon Newsom</h1>
        <h2 id='devTitle'>Web Developer</h2>
    </div>
</div>
<div class="banner" id="projects">
    <h2>PROJECTS</h2>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\logo2.gif">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Madrona Co.<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Madrona Co.</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Madrona Co.<i class="material-icons right">close</i></span>
            <p class="blackText">Company website for Madrony Company, a Seattle-based architecture firm and property management company. 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">NODE.js</li>
                    <li class="blackText">Angular.js</li>
                    <li class="blackText">Bootstrap</li>
                    <li class="blackText">AWS</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\disc_board.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Discussion Board<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Discussion Board</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Discussion Board<i class="material-icons right">close</i></span>
            <p class="blackText">Forum site with user management, live chat, and comment voting. 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">NODE.js</li>
                    <li class="blackText">Angular.js</li>
                    <li class="blackText">Bootstrap</li>
                    <li class="blackText">MongoDB</li>
                    <li class="blackText">socket.io</li>
                    <li class="blackText">AWS</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\user_dash.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">User Dashboard<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>User Dashboard</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">User Dashboard<i class="material-icons right">close</i></span>
            <p class="blackText">Dashboard app with admin-level access and features. 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">Django</li>
                    <li class="blackText">SQLlite</li>
                    <li class="blackText">Bootstrap</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\pad_finder.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Apartment Finder<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Apartment Finder</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Apartment Finder<i class="material-icons right">close</i></span>
            <p class="blackText">Craigslist meets Airbnb, for appartment rentals.  A 24 hour hackathon project done in collaboration with <a href="https://github.com/seadeer">Anya Clawson</a>
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">Django</li>
                    <li class="blackText">SQLlite</li>
                    <li class="blackText">Twitter Oauth</li>
                    <li class="blackText">Bootstrap</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\food-truck-court.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Food Truck Finder<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Food Truck Finder</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Food Truck Finder<i class="material-icons right">close</i></span>
            <p class="blackText">iOS app for finding local food trucks.  24 hr hackathon project done in collaboration with <a href="https://github.com/brendanmcaleer">Brendan McAleer</a> 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">NODE.js (backend server api)</li>
                    <li class="blackText">Swift 2.0</li>
                    <li class="blackText">Core Location</li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="banner" id="technologies">
    <h2>TECHNOLOGIES</h2>

    <div class="languages techbox">
        <h4>Languages</h4>
        <img class="logoimg" src="images/python-logo.png">
        <img class="logoimg" src="images/ruby-logo.png">
        <img class="logoimg" src="images/html-logo.png">
        <img class="logoimg" src="images/css-logo.png">
    </div>

    <div class="frameworks techbox">
        <h4>Frameworks</h4>
        <img class="logoimg" src="images/django-logo.png">
        <img class="logoimg" src="images/flask-logo.png">
        <img class="logoimg" src="images/rails-logo.png">
        <img class="logoimg" src="images/angularjs-logo.png">
    </div>

    <div class="libraries techbox">
        <h4>Libraries</h4>
        <img class="logoimg" src="images/jquery-logo.png">
        <img class="logoimg" src="images/bootstrap-logo.png">
        <img class="logoimg" src="images/materialize-logo.png">
    </div>

    <div class="databases techbox">
        <h4>Databases</h4>
        <img class="logoimg" src="images/mysql-logo.png">
        <img class="logoimg" src="images/sqllite-logo.png">
        <img class="logoimg" src="images/postgresql-logo.png">
        <img class="logoimg" src="images/mongodb-logo.png">
    </div>

    <div class="servers techbox">
        <h4>Servers</h4>
        <img class="logoimg" src="images/aws-logo.png">
        <img class="logoimg" src="images/heroku-logo.png">
        <img class="logoimg" src="images/mamp-logo.png">
    </div>

    <div class="devTools techbox">
        <h4>Developement Tools</h4>
        <img class="logoimg" src="images/sublime-logo.png">
        <img class="logoimg" src="images/terminal-logo.png">
        <img class="logoimg" src="images/github-logo.png">
    </div>
</div> <!-- end of tech -->