<div class="banner parallax-container" id="welcome">
    <div class="parallax">
        <img src="/static/img/seattle75.jpg" alt="seattle">
    </div>
    <div class="nametag">
        <h1>Devon Newsom</h1>
        <h2 id='devTitle'>Web Developer</h2>
    </div>
</div>
<div class="banner" id="projects">
    <h2>PROJECTS</h2>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\logo2.gif">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Madrona Co.<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Madrona Co.</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Madrona Co.<i class="material-icons right">close</i></span>
            <p class="blackText">Company website for Madrony Company, a Seattle-based architecture firm and property management company. 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">NODE.js</li>
                    <li class="blackText">Angular.js</li>
                    <li class="blackText">Bootstrap</li>
                    <li class="blackText">AWS</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\disc_board.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Discussion Board<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Discussion Board</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Discussion Board<i class="material-icons right">close</i></span>
            <p class="blackText">Forum site with user management, live chat, and comment voting. 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">NODE.js</li>
                    <li class="blackText">Angular.js</li>
                    <li class="blackText">Bootstrap</li>
                    <li class="blackText">MongoDB</li>
                    <li class="blackText">socket.io</li>
                    <li class="blackText">AWS</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\user_dash.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">User Dashboard<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>User Dashboard</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">User Dashboard<i class="material-icons right">close</i></span>
            <p class="blackText">Dashboard app with admin-level access and features. 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">Django</li>
                    <li class="blackText">SQLlite</li>
                    <li class="blackText">Bootstrap</li>
                </ul>
            </p>
        </div>
    </div>
    
    <div class="card small portCard">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="\static\img\food-truck-court.png">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Food Truck Finder<i class="material-icons right">more_vert</i></span>
            <p><a href="">View the Website</a></p>
            <!-- Modal Trigger -->
            <a class="modal-trigger" href="#modal1">Client Review</a>

            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <h4>Food Truck Finder</h4>
                    <p>"TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP TEMP "</p>
                    <p>~TEMP</p>
                </div>
                <div class="modal-footer">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Food Truck Finder<i class="material-icons right">close</i></span>
            <p class="blackText">iOS app for finding local food trucks.  24 hr hackathon project done in collaboration with <a href="https://github.com/brendanmcaleer">Brendan McAleer</a> 
            <br><br><b>Technologies used:</b>
                <ul>
                    <li class="blackText">NODE.js (backend server api)</li>
                    <li class="blackText">Swift 2.0</li>
                    <li class="blackText">Core Location</li>
                </ul>
            </p>
        </div>
    </div>
</div>
<div class="banner" id="technologies">
    <h2>TECHNOLOGIES</h2>

    <div class="languages techbox">
        <h4>Languages</h4>
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Python' src="/static/img/pills/python-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Swift 2.0' src="/static/img/pills/swift-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='HTML 5' src="/static/img/pills/html-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='CSS 3' src="/static/img/pills/css-logo.png">
    </div>

    <div class="frameworks techbox">
        <h4>Frameworks</h4>
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Django' src="/static/img/pills/django-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Flask' src="/static/img/pills/flask-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Node.js' src="/static/img/pills/node-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Angular.js' src="/static/img/pills/angularjs-logo.png">
    </div>

    <div class="libraries techbox">
        <h4>Libraries</h4>
        <img class="logoimg tooltipped" data-position='top' data-tooltip='jQuery' src="/static/img/pills/jquery-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Bootstrap' src="/static/img/pills/bootstrap-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Materialize' src="/static/img/pills/materialize-logo.png">
    </div>

    <div class="databases techbox">
        <h4>Databases</h4>
        <img class="logoimg tooltipped" data-position='top' data-tooltip='mySQL' src="/static/img/pills/mysql-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='SQLlite' src="/static/img/pills/sqllite-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='MongoDB' src="/static/img/pills/mongodb-logo.png">
    </div>

    <div class="servers techbox">
        <h4>Servers</h4>
        <img class="logoimg tooltipped" data-position='top' data-tooltip='AWS' src="/static/img/pills/aws-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='MAMP' src="/static/img/pills/mamp-logo.png">
    </div>

    <div class="devTools techbox">
        <h4>Developement Tools</h4>
        <img class="logoimg tooltipped" data-position='top' data-tooltip='Terminal' src="/static/img/pills/terminal-logo.png">
        <img class="logoimg tooltipped" data-position='top' data-tooltip='GitHub' src="/static/img/pills/github-logo.png">
    </div>
</div> <!-- end of tech -->
<div class="banner" id="contact">
    <h2>CONTACT</h2>
    <h4><a href="mailto:dev206@gmail.com">dev206@gmail.com</a></h4>
    <h4><a href="mailto:dev206@gmail.com">dev206@gmail.com</a></h4>
    <i class="orangeText fa fa-github fa-2x" aria-hidden="true"></i>>
    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
</div>